h4 {
	text-align:center;
	margin-top: -40px;
	color: #fff;
	background-color: #3b4046;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #3b4046;
  text-align: center;
}

.text-muted {
    padding-top: 20px;
}

.project {
    overflow: auto;
    position: relative;
    float: left;
    margin: 20px 0 25px;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}